body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
}
* {
  margin: 0;
  padding: 0;
}
main,
section,
div {
  box-sizing: border-box;
}

.main-header {
  content: "";
  background-image: url("images/banner/banner2.png");
  background-size: cover;
  height: 880px;
  width: 100%;
  background-position: center;
  position: relative;
}
.header-section {
  height: 400px;
  width: 310px;
  position: absolute;
  right: 150px;
  top: 150px;
}
.header {
  font-size: 45px;
  text-align: right;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 20px;
}
.paragraph {
  opacity: 0.8;
  font-size: 17px;
  text-align: right;
  font-style: italic;
}
.btn-contact-us {
  padding: 10px 15px;
  font-size: 20px;
  font-style: italic;
  background-color: rgb(201, 73, 17);
  color: white;
  border: none;
  margin-left: 185px;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.btn-contact-us:hover {
  background-color: rgba(74, 228, 22, 0.832);
  color: black;
  cursor: pointer;
}
.main-section {
  position: relative;
}
.pic {
  margin-left: 227px;
  margin-top: 140px;
  margin-bottom: 100px;
  background-size: cover;
  width: 462px;
  height: 600px;
  background-image: url(/images/person.png);
}
.content {
  height: 416px;
  width: 400px;
  position: absolute;
  top: 220px;
  right: 320px;
}
.content h1 {
  font-size: 40px;
  line-height: 45px;
  margin-bottom: 24px;
}
.content p {
  margin-bottom: 16px;
}
.content ul li {
  list-style: none;
  transition: 0.5s;
}
.content ul li:hover {
  color: red;
  cursor: pointer;
}
.content ul li i {
  margin-right: 10px;
  color: green;
}
.my-plans {
  font-size: 35px;
  text-align: center;
  margin-bottom: 68px;
  transition: 0.5s;
}
.my-plans:hover {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}
.icon-section {
  margin: 0 auto;
  height: auto;
  width: 70%;
  display: flex;
}

.icon {
  width: 93px;
  height: 93px;
}
/* .icon:nth-child(1) {
  margin-left: 0px;
} */
/* icon section */

.icon-section {
  display: flex;
  justify-content: space-between;
  margin: 50px 250px;
}
.img-div {
  text-align: center;
  font-size: 20px;
  transition: 0.5s;
}
.img-div h2:hover {
  color: green;
  text-decoration: underline;
  cursor: pointer;
}
.img-div p {
  color: rgb(70, 94, 94);
}
.hand-img-section {
  background-image: url( "./images/watch.png");
  height: 300px;
  width: 68%;
  margin: 50px auto;
  background: linear-gradient(rgb(221, 146, 0));
  border-radius: 5px;
  box-sizing: border-box;
}
.hand-img-section h1 {
  font-size: 40px;
  margin-top: 40px;
  margin-left: 40px;
  color: white;
  font-style: italic;
}
.hand-img-section button {
  margin-top: 20px;
  margin-left: 40px;
  padding: 10px 15px;
  font-size: 20px;
  font-style: italic;
  background-color: white;
  color: rgb(201, 73, 17);
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.hand-img-section button:hover{
  background-color: green;
  color: white;
}
.future-section {
  height: 577px;
  background-color: black;
  margin-top: 80px;
  padding: 130px 230px;
  display: flex;
}

.future-box {
  color: white;
  height: 317px;
  width: 485px;
}
.future-box h1 {
  font-size: 45px;
}
.future-box p {
  margin-top: 16px;
}
.future-box-2 {
  height: 204px;
  width: 325px;
  margin-left: 321px;
  color: white;
}
.future-box-2 h1 {
  font-size: 25px;
}
.future-box-2 input {
  height: 25px;
  width: 250px;
  padding: 5px 10px;
  border: 1px solid rgb(94, 83, 83);
  background-color: black;
  border-radius: 5px;
  margin-top: 15px;
  color: white;
  font-size: 16px;
}
.subscribe-btn {
  padding: 10px 15px;
  font-size: 20px;
  font-style: italic;
  background-color:white;
  color:red;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.subscribe-btn:hover {
  background-color: rgba(74, 228, 22, 0.832);
  color: white;
  cursor: pointer;
}
.logo-icon { display: flex;
  margin-top: 32px;
  height: 150px;
  width: 200px;
}
.logo-icon img {
  margin-left: 20px;
  height: 46px;
  width: 46px;
}
.logo-icon img:nth-child(1){
  margin-left: 0;
}